body {
    background-color: black;
}

.khunglon {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.bo {
    text-align: center;
}

.chinh {
    color: white;
}

.main,
.extra {
    border: 2px solid white;
    padding: 20px;
    width: 500px;
    height: 200px;
    box-sizing: border-box;
}