h1{
    color: violet;
    border: 2px solid powderblue;
    display: inline-block;
}

.tieude{
    color: blue;
}
.quaithu{
    color: peru;
}
.maphap{
    color: forestgreen;
}
.baibay{
    color: deeppink;
}
.card{
 display: flex;

    gap: 30px;
}
.thongtin{
}
